{% set active_page = "cartons" %}
{% extends "layout.html" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Programs</title>
  <link href="../static/css/autoComplete.css" rel="stylesheet">
{% endblock head %}

{% block body %}

<script src="../static/js/autoComplete.js"></script>

<div class="card">
<form autocomplete="off" action="/cartons.html" onsubmit="clearGraph()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cartonSelect">Carton</label>
      <input id="cartonSelect" type="text" name="carton" {% if chosenCarton != "none" %} value="{{chosenCarton}}" {% else %} placeholder="Carton" {% endif %}>
  </div>
  <button type="submit" class="btn btn-primary">Submit Query</button>
</form>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div id="cartonChart"></div>
    </div>
  </div>
</div>

<style>
    .xaxis text {
      font: 12px sans-serif;
    }

    .xaxis line,
    .xaxis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #f44336;
      align-content: center;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
</style>

<script type="text/javascript">

  var cartons = [{% for p in cartons %} "{{p}}", {% endfor %}];

  autocomplete(document.getElementById("cartonSelect"), cartons);

  const counts = {{counts | tojson}};

  if(counts.length > 0){
    Highcharts.chart("cartonChart", {
      chart: { zoomType: 'x' },
      title: {text: "planned: {{goal}}"},
      xAxis: { title: { text: 'MJD' } },
      yAxis: { title: { text: 'Target Observations' },
               plotLines: [{ value: 0, width: 1, color: '#bf371f' }]},
      tooltip: { crosshairs: true, shared: true },
      series: [{
        name: '',
        data: counts,
        showInLegend: false, 
      }]
    });
  }

  function clearGraph(){
    document.getElementById('cartonChart').innerHTML = '<div class="loader"></div>';
  }

</script>

{% endblock body %}
