{% set active_page = "efficiency" %}
{% extends "layout.html" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Efficiency</title>

  <script src='https://cdn.plot.ly/plotly-2.18.2.min.js'>
{% endblock head %}

{% block body %}

<div class="row">
  <div class="col-md-4">
    <input id="mjd_input" type="range" min="{{meta.mjd_min}}" max="{{meta.mjd_max}}" step="any" value="{{meta.mjd_min | int}}" oninput="reRenderHists(this.value)" style="vertical-align: middle">
    <p>Start MJD: <output id="mjd">{{meta.mjd_min | int}}</output></p>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div id="bossChart"></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div id="apogeeChart"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const median = arr => {
    const mid = Math.floor(arr.length / 2),
      nums = [...arr].sort((a, b) => a - b);
    return arr.length % 2 !== 0 ? nums[mid] : (nums[mid - 1] + nums[mid]) / 2;
  };

  const mjd = document.querySelector("#mjd")
  const input = document.querySelector("#mjd_input")
  input.addEventListener("input", (event) => {
    mjd.textContent = parseInt(event.target.value)
  })

  const b1_full = {{b1 | tojson}};
  const r1_full = {{r1 | tojson}};
  const ap_full = {{ap | tojson}};
  const boss_mjds = {{boss_mjd | tojson}}
  const ap_mjds = {{ap_mjd | tojson}}

  function reRenderHists(mjd_min){
    let b1 = [];
    let r1 = [];
    for (i = 0; i < boss_mjds.length; i++) {
      if(boss_mjds[i] > mjd_min){
        b1.push(b1_full[i]);
        r1.push(r1_full[i]);
      }
    }
    let b_good = 0;
    let r_good = 0;
    let r_and_b = 0;
    let r_not_b = 0;
    let b_not_r = 0;
    let not_r_b = 0;
    for (i = 0; i < b1.length; i++) {
      let b = b1[i] > {{meta.b_threshold}};
      let r = r1[i] > {{meta.r_threshold}};

      if(r){
        r_good += 1;
        if(b){
          r_and_b += 1;
        }
        else{
          r_not_b += 1;
        }
      }
      else if (!b){
        not_r_b += 1;
      }
      if(b){
        b_good += 1;
        if(!r){
          b_not_r += 1;
        }
      }
    }

    let b_bad = b1.length - b_good;
    let r_bad = r1.length - r_good;

    let r_med = median(r1);
    let b_med = median(b1);

   var scatter = {
      x: r1,
      y: b1,
      mode: 'markers',
      name: 'points',
      marker: {
        color: 'DodgerBlue',
        size: 4
      },
      type: 'scatter'
    };
    var xhist = {
      x: r1,
      name: 'x density',
      marker: {color: 'DodgerBlue'},
      yaxis: 'y2',
      type: 'histogram',
      xbins: {
        end: {{meta.r_max_bin}}, 
        size: {{meta.r_bin_width}}, 
        start: 0.0
      }
    };
    var yhist = {
      y: b1,
      name: 'y density',
      marker: {color: 'DodgerBlue'},
      xaxis: 'x2',
      type: 'histogram',
      ybins: {
        end: {{meta.b_max_bin}}, 
        size: {{meta.b_bin_width}}, 
        start: 0.0
      }
    };

    var fontCfg = {
      color: "red",
      size: 18,
      family: 'Arial Black'
    }

    var text = {
      x: [0.5, 0.5, 4.5, 6],
      y: [1, 3.5, 3.5, 1],
      mode: 'text',
      name: 'stats',
      text: [not_r_b, b_not_r, r_and_b, r_not_b],
      textposition: 'top',
      type: 'scatter',
      textfont: fontCfg
    };
    var xtext = {
      x: [1, 5],
      y: [{{meta.r_max}} - 50, {{meta.r_max}} - 50],
      yaxis: 'y2',
      mode: 'text',
      name: 'stats',
      text: [r_bad, r_good],
      textposition: 'top',
      type: 'scatter',
      textfont: fontCfg
    };
    var ytext = {
      x: [{{meta.r_max}} - 100, {{meta.r_max}} - 100],
      y: [-0.2, 3.5],
      xaxis: 'x2',
      mode: 'text',
      name: 'stats',
      text: [b_bad, b_good],
      textposition: 'top',
      type: 'scatter',
      textfont: fontCfg
    };
    var data = [scatter, xhist, yhist, text, xtext, ytext];
    var layout = {
      showlegend: false,
      autosize: false,
      width: 600,
      height: 550,
      margin: {t: 50},
      hovermode: 'closest',
      bargap: 0,
      xaxis: {
        title: '{{meta.r_camera}} SN2',
        domain: [0, 0.85],
        showgrid: false,
        zeroline: false,
        range: [0, {{meta.r_max_bin}}+{{meta.r_bin_width}}]
      },
      yaxis: {
        title: '{{meta.b_camera}} SN2',
        domain: [0, 0.85],
        showgrid: false,
        zeroline: false,
        range: [-0.3, {{meta.b_max_bin}}+{{meta.b_bin_width}}]
      },
      xaxis2: {
        domain: [0.85, 1],
        showgrid: false,
        zeroline: false
      },
      yaxis2: {
        domain: [0.85, 1],
        showgrid: false,
        zeroline: false
      },
      shapes: [
        {
          type: 'line',
          xref: 'x1',
          yref: 'y1',
          x0: 0.0,
          y0: {{meta.b_threshold}},
          x1: {{meta.r_max_bin}},
          y1: {{meta.b_threshold}},
          line:{
              color: 'red',
              width: 2,
              dash:'dot'
          }
        },
        {
          type: 'line',
          xref: 'x2',
          x0: 0.0,
          y0: {{meta.b_threshold}},
          x1: {{meta.b_max}},
          y1: {{meta.b_threshold}},
          line:{
              color: 'red',
              width: 2,
              dash:'dot'
          }
        },
        {
          type: 'line',
          xref: 'x2',
          x0: 0.0,
          y0: b_med,
          x1: {{meta.b_max}},
          y1: b_med,
          line:{
              color: 'black',
              width: 2,
              dash:'dot'
          }
        },
        {
          type: 'line',
          xref: 'x1',
          yref: 'y1',
          y0: 0.0,
          x0: {{meta.r_threshold}},
          y1: {{meta.b_max_bin}},
          x1: {{meta.r_threshold}},
          line:{
              color: 'red',
              width: 2,
              dash:'dot'
          }
        },
        {
          type: 'line',
          yref: 'y2',
          y0: 0.0,
          x0: {{meta.r_threshold}},
          y1: {{meta.r_max}},
          x1: {{meta.r_threshold}},
          line:{
              color: 'red',
              width: 2,
              dash:'dot'
          }
        },
        {
          type: 'line',
          yref: 'y2',
          y0: 0.0,
          x0: r_med,
          y1: {{meta.r_max}},
          x1: r_med,
          line:{
              color: 'black',
              width: 2,
              dash:'dot'
          }
        }
      ]
    };
    Plotly.newPlot('bossChart', data, layout);

    let ap = [];
    for (i = 0; i < ap_mjds.length; i++) {
      if(ap_mjds[i] > mjd_min){
        ap.push(ap_full[i]);
      }
    }
    let ap_good = 0;
    let ap_bad = 0;
    for (i = 0; i < ap.length; i++) {
      let a = ap[i] > {{meta.ap_threshold}};

      if(a){
        ap_good += 1;
      }
      else {
        ap_bad += 1;
      }
    }

    let ap_med = median(ap);

    var aphist = {
      x: ap,
      name: 'x density',
      marker: {color: 'DodgerBlue'},
      type: 'histogram',
      xbins: {
        end: {{meta.ap_max_bin}}, 
        size: {{meta.ap_bin_width}}, 
        start: 0.0
      }
    };
    var aptext = {
      x: [500, 3500],
      y: [{{meta.ap_max}} - 200, {{meta.ap_max}} - 200],
      mode: 'text',
      name: 'stats',
      text: [ap_bad, ap_good],
      textposition: 'top',
      type: 'scatter',
      textfont: fontCfg
    };
    var apdata = [aphist, aptext];

    var aplayout = {
      showlegend: false,
      autosize: false,
      width: 600,
      margin: {t: 50},
      hovermode: 'closest',
      bargap: 0,
      xaxis: {
        title: 'apogee SN2',
        showgrid: false,
        zeroline: false,
        range: [0, {{meta.ap_max_bin}}+{{meta.ap_bin_width}}]
      },
      shapes: [
        {
          type: 'line',
          yref: 'y',
          y0: 0.0,
          x0: {{meta.ap_threshold}},
          y1: {{meta.ap_max}},
          x1: {{meta.ap_threshold}},
          line:{
              color: 'red',
              width: 2,
              dash:'dot'
          }
        },
        {
          type: 'line',
          yref: 'y',
          y0: 0.0,
          x0: ap_med,
          y1: {{meta.ap_max}},
          x1: ap_med,
          line:{
              color: 'black',
              width: 2,
              dash:'dot'
          }
        }
      ]
    };

    Plotly.newPlot('apogeeChart', apdata, aplayout);
  };
  reRenderHists({{meta.mjd_min}})
</script>

{% endblock body %}




