<!DOCTYPE html>
{% macro mjdExp(exposures, sums) %}
    <table class="table" id="expTable" style="height: 300px; overflow-y:scroll; display:block;">
      <thead>
        <tr>
          <th class="text-center">Design</th>
          <th class="text-center">Exp No.</th>
          <th class="text-center">AP</th>
          <th class="text-center">r</th>
          <th class="text-center">b</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td class="text-center">&Sigma;</td>
          <td class="text-center"><b>{{sums.AP}}</b></td>
          <td class="text-center"><b>{{sums.r_camera}}</b></td>
          <td class="text-center"><b>{{sums.b_camera}}</b></td>
        </tr>
    {% for e in exposures %}
        <tr>
          <td class="text-center"><a href="designDetail.html?designID={{e.design}}">{{e.design}}</a></td>
          <td class="text-center hover-table"><span class="hover-field">{{e.timeStamp}}</span>{{e.exposure_no}}</td>
          <td class="text-center">{{e.AP}}</td>
          <td class="text-center">{{e.r_camera}}</td>
          <td class="text-center">{{e.b_camera}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% endmacro %}

{% macro epochSNtable(epochSN, done_status) %}
    <table class="table" id="expTable" style="height: 300px; overflow-y:scroll; display:block;">
      <thead>
        <tr>
          <th class="text-center">Epoch</th>
          <th class="text-center">MJD</th>
          <th class="text-center">AP</th>
          <th class="text-center">r</th>
          <th class="text-center">b</th>
        </tr>
      </thead>
      <tbody>
    {% for e in epochSN|sort(attribute="mjd", reverse=True) %}
      {% if loop.index0 == 0 and done_status == 'started' %}
        <tr style="border-style: solid; border-color: rgba(0, 160, 0, 0.6);">
      {% elif loop.index0 == 0 and done_status == 'not started' %}
        <tr style="border-style: solid; border-color: rgba(173, 49, 49, 0.6);">
      {% else %}
        <tr style="background-color: rgba(0, 160, 0, 0.6);">
      {% endif %}
          <td class="text-center">{{e.label}}</td>
          <td class="text-center">{{e.mjd}}</td>
          <td class="text-center">{{"%.1f" % e.AP}}</td>
          <td class="text-center">{{"%.2f" % e.r_camera}}</td>
          <td class="text-center">{{"%.2f" % e.b_camera}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% endmacro %}