{% set active_page = "progress" %}
{% extends "layout.html" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Progress</title>
{% endblock head %}

{% block body %}

<div class="row">
  {% for img in pngs %}
  <div class="col-md-6">
    <div class="card">
      <a href="/store/{{img}}">
        <img class="card-img" src="/store/{{img}}" width="600px">
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}
