{% set active_page = "rv_monit" %}
{% extends "layout.html" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>RV Monitoring</title>
{% endblock head %}

{% block body %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h3>Limit to fields started after:</h3>
      <form autocomplete="off" action="/rv_monit.html">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="mjd_start">MJD</label>
            <input id="mjd_start" type="text" name="mjd_start" {% if mjd_start != "none" %} value="{{mjd_start}}" {% else %} placeholder="" {% endif %}>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
      </form>
    </div>
    <div class="card">
      <div id="monit"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

    Highcharts.chart("monit", {
    chart: { zoomType: 'x' },
    title: {text: "RV Field Progress"},
    xAxis: { title: { text: 'Epoch' } },
    yAxis: [{ title: { text: 'Days Since First Obs' },
                    plotLines: [{ value: 0, width: 1, color: '#bf371f' }]}],
    tooltip: { crosshairs: true, shared: false, 
                formatter:function(){
                  return this.y.toFixed(1);}
             },
    series: [
      {% for field in fields %}
        {
        name: '{{field}}',
        data: {{fields[field] | tojson}},
        showInLegend: false, 
        },
      {% endfor %}
      {
        name: 'Goal',
        data: {{goal | tojson}},
        showInLegend: true, 
        lineWidth: 5
      }
    ]
    });
  
</script>

{% endblock body %}
